	<div class="container">
		<div class="row fila3 text-center">
				<div class="col-xs-4">
					<a href="#"><img src="images/bañopiedras.png"/></a>
					<h3 class="letrablanca">Mod. B1</h3>
				</div>
				<div class="col-xs-4"><a href="#"><img src="images/bañoburbujas.png"/></a><h3 class="letrablanca">Mod. B2</h3></div>
				<div class="col-xs-4"><a href="#"><img src="images/ambienteolas.png"/></a><h3 class="letrablanca">Mod. B3</h3></div>
		</div>

		<div class="row fila3 text-center">
				<div class="col-xs-4"><a href="#"><img src="images/bañopiedras.png"/></a><h3 class="letrablanca">Mod. B4</h3></div>
				<div class="col-xs-4"><a href="#"><img src="images/bañoburbujas.png"/></a><h3 class="letrablanca">Mod. B5</h3></div>
				<div class="col-xs-4"><a href="#"><img src="images/ambienteolas.png"/></a><h3 class="letrablanca">Mod. B6</h3></div>
		</div>

		<div class="row fila3 text-center">
				<div class="col-xs-4"><a href="#"><img src="images/bañopiedras.png"/></a><h3 class="letrablanca">Mod. B7</h3></div>
				<div class="col-xs-4"><a href="#"><img src="images/bañoburbujas.png"/></a><h3 class="letrablanca">Mod. B8</h3></div>
				<div class="col-xs-4"><a href="#"><img src="images/ambienteolas.png"/></a><h3 class="letrablanca">Mod. B9</h3></div>
		</div>
	</div>




