

	<div class="container">
		<div class="row fila3 text-center">
				<div class="col-md-4"><a href="#"><img src="images/bañopiedras.png"/></a><h3 class="letrablanca">Mod. C1</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/bañoburbujas.png"/></a><h3 class="letrablanca">Mod. C2</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/ambienteolas.png"/></a><h3 class="letrablanca">Mod. C3</h3></div>
		</div>

		<div class="row fila3 text-center">
				<div class="col-md-4"><a href="#"><img src="images/bañopiedras.png"/></a><h3 class="letrablanca">Mod. C4</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/bañoburbujas.png"/></a><h3 class="letrablanca">Mod. C5</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/ambienteolas.png"/></a><h3 class="letrablanca">Mod. C6</h3></div>
		</div>

		<div class="row fila3 text-center">
				<div class="col-md-4"><a href="#"><img src="images/bañopiedras.png"/></a><h3 class="letrablanca">Mod. C7</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/bañoburbujas.png"/></a><h3 class="letrablanca">Mod. C8</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/ambienteolas.png"/></a><h3 class="letrablanca">Mod. C9</h3></div>
		</div>
	</div>

