<div>
  <div class="row">
<!-- 1 fila 1 columna:Inicio -->
    <div class="col-xs-4">
      

      
      <div class="margen">
        <p><img class="img-responsive" src="images/decoravidre.png"></p>

        <p><img src="images/iconoconfirmacion.png" width="10px" height="10px"> <a  class="letrablanca" href="#"> Restauración y fabricación de espejos</a></p>

        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="#"> Arenados y grabados</a></p>

        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="#">Vidrio pintado de colores</a></p>

        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="imagenes.html">Técnica fusing</a></p>

        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="#">Lavabos de vidrio</a></p>

        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="#">Puertas de paso</a></p>
        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="#">Cuarterones</a></p>
        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="#">Vidrio climalit</a></p>
        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="#">Impresión digital</a></p>
        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="#">Vidrios de seguridad</a></p>
        <p><img src="images/iconoconfirmacion.png" width="10px" height=10px"> <a  class="letrablanca" href="#">Laminados y temperados</a></p>
      </div>
    </div>
<!-- 1 fila 1 columna:Fin --> 


<!-- Carrusel:Inicio-->   
    <div class="col-xs-8 margencarrusel">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>

      <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active text-center letrablanca">
              <img class="img-responsive" src="images/lamby700.png" alt="Chania">
              <p></p>
              <p>Cocina Lamby</p>
            </div>

            <div class="item text-center letrablanca">
              <img class="img-responsive"  src="images/bañopiedras700.png" alt="Chania">
              <p></p>
              <p>Baño de piedras</p>
            </div>
          
            <div class="item text-center letrablanca">
              <img class="img-responsive"  src="images/cocinasolas700.png" alt="Flower">
              <p></p>
              <p>Ambiente olas</p>
            </div>

            <div class="item text-center letrablanca">
              <img class="img-responsive"  src="images/frontal700.png" alt="Flower">
              <p></p>
              <p>Frontal cocina</p>
            </div>
           </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
      </div>
<!-- Carrusel:Fin-->  

<!-- 1 fila 3 columna:Inicio  
      <div class="col-xs-4 margenfotografia">
          <img class="img-responsive img-circle" src="images/juanylola2.jpg"  alt="Chania"><h3 class="letrablanca">Imágenes personalizadas</h3> 
        </div>-->
  </div>
</div>
<hr>
<!-- 1 fila 3 columna:Fin --> 

<!--2 fila:Inicio-->
  <div class"container">
    <div class="row fila3">
<!-- 2 fila 1 columna:Inicio -->  
        <div class="col-xs-4 margenfotografia">
          <a href="#/baños"><img class="rotacion img-responsive" src="images/bañopiedras.png" width="300"/></a>
          <h3 class="letrablanca">Baños elegantes</h3>
        </div>
<!-- 2 fila 1 columna:Fin --> 

<!-- 2 fila 2 columna:Inicio -->  
        <div class="col-xs-4 margenfotografia">
           <a href="#/mamparas"><img class="rotacion img-responsive" src="images/mamparamujer.png" width="300"/></a>
           <h3 class="letrablanca">Mamparas personalizadas</h3>
         </div>
<!-- 2 fila 2 columna:Fin --> 

<!-- 2 fila 3 columna:Inicio -->  
        <div class="col-xs-4 margenfotografia">
             <a href="#/cocinas"><img class="rotacion img-responsive" src="images/ambienteolas.png" width="300"/></a>
             <h3 class="letrablanca">Ambientes creativos</h3>
         </div>
<!-- 2 fila 3 columna:Fin -->         
    </div>
  </div>
<!--2 fila:fin-->
<div class="fila4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        
      </div>
    </div>
  </div>
</div>