
	<div class="container">
		<div class="row fila3 text-center">
				<div class="col-md-4"><a href="#"><img src="images/bañopiedras.png"/></a><h3 class="letrablanca">Mod. M1</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/bañoburbujas.png"/></a><h3 class="letrablanca">Mod. M2</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/ambienteolas.png"/></a><h3 class="letrablanca">Mod. M3</h3></div>
		</div>

		<div class="row fila3 text-center">
				<div class="col-md-4"><a href="#"><img src="images/bañopiedras.png"/></a><h3 class="letrablanca">Mod. M4</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/bañoburbujas.png"/></a><h3 class="letrablanca">Mod. M5</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/ambienteolas.png"/></a><h3 class="letrablanca">Mod. M6</h3></div>
		</div>

		<div class="row fila3 text-center">
				<div class="col-md-4"><a href="#"><img src="images/bañopiedras.png"/></a><h3 class="letrablanca">Mod. M7</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/bañoburbujas.png"/></a><h3 class="letrablanca">Mod. M8</h3></div>
				<div class="col-md-4"><a href="#"><img src="images/ambienteolas.png"/></a><h3 class="letrablanca">Mod. M9</h3></div>
		</div>
	</div>

